<h1>Verrichtingen</h1>
<ul class="nav nav-tabs">
    <li><a href="#/transactions">Overzicht</a></li>
    <li class="active"><a href="#/transactions/add">Invoeren</a></li>
</ul>
<p>&nbsp;</p>
<div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="account" class="control-label col-md-1">Rekening</label>
            <div class="col-md-3">
                <select name="account" class="form-control" data-ng-model="transaction.account" data-ng-options="account.name for account in accounts" data-focus-on="TransactionAdded"></select>
            </div>
            <label for="date" class="control-label col-md-2">Datum</label>
            <div class="col-md-3">
                <input type="text" name="date" class="form-control" data-ng-model="transaction.date" />
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-group">
            <label for="amount" class="control-label col-md-1">Bedrag</label>
            <div class="col-md-3">
                <input type="text" name="amount" class="form-control" data-ng-model="transaction.amount" />
            </div>
            <label for="message" class="control-label col-md-2">Mededeling</label>
            <div class="col-md-4">
                <input type="text" name="message" class="form-control" data-ng-model="transaction.message" />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-ng-click="add();">Toevoegen</button>
            </div>
        </div>
    </form>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <th>Rekening</th>
            <th>Datum</th>
            <th>Bedrag</th>
            <th>Mededeling</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
        <tbody>
        <tr data-ng-repeat="transaction in transactions">
            <td>{{transaction.account.name}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.message}}</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <button class="btn btn-primary" data-ng-click="save()">Opslaan</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>