<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Nieuw contact aanmaken</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="name">Naam:</label>
                    <div class="col-md-9">
                        <input type="text" name="name" class="form-control" placeholder="Naam" data-ng-model="name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Type:</label>
                    <div class="col-md-9">
                        <div><input type="checkbox" data-ng-model="type.personeel" />&nbsp;Personeel</div>
                        <div><input type="checkbox" data-ng-model="type.klant" />&nbsp;Klant</div>
                        <div><input type="checkbox" data-ng-model="type.leverancier" />&nbsp;Leverancier</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button class="btn btn-primary" data-ng-click="save()">Opslaan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>