<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Contacten</h1>
            <p><a href="#/create">Nieuw contact aanmaken</a></p>
            <table class="table">
                <thead>
                <tr>
                    <th>Naam</th>
                    <th>Personeel</th>
                    <th>Klant</th>
                    <th>Leverancier</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="contact in contacts">
                    <td><a data-ng-href="#/{{contact._id}}">{{contact.name}}</a></td>
                    <td><i data-ng-if="contact.type.personeel" class="glyphicon glyphicon-ok"></i></td>
                    <td><i data-ng-if="contact.type.klant" class="glyphicon glyphicon-ok"></i></td>
                    <td><i data-ng-if="contact.type.leverancier" class="glyphicon glyphicon-ok"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>