<h1>Instellingen</h1>
<ul class="nav nav-tabs">
    <li class="active"><a href="#/settings/accounts">Rekeningen</a></li>
</ul>
<div>
    <p>&nbsp;</p>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="name" class="control-label col-md-2">Naam:</label>
            <div class="col-md-10">
                <input name="name" type="text" class="form-control" data-ng-model="account.name" />
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="control-label col-md-2">Type:</label>
            <div class="col-md-10">
                <select name="type" class="form-control" data-ng-model="account.type" data-ng-options="t for t in types"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button class="btn btn-primary" data-ng-click="create()">Rekening aanmaken</button>
            </div>
        </div>
    </form>
</div>