<h1>Bankrekeningen</h1>
<ul class="nav nav-tabs">
    <li class="active"><a href="#/bank">Overzicht</a></li>
    <li><a href="#/bank/transactions">Verrichtingen</a></li>
</ul>
<br />
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Bedrag</th>
            <th>Omschrijving</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="transaction in transactions">
            <td>{{transaction.date |date:'dd/MM/yyyy'}}</td>
            <td>{{transaction.amount|currency:'€'}}</td>
            <td data-ng-if="transaction.info && transaction.info.type == 'credit-transfer' && transaction.info.creditorAccountNumber" data-ng-include="'credit-transfer-in'"></td>
            <td data-ng-if="transaction.info && transaction.info.type == 'credit-transfer' && transaction.info.debtorAccountNumber" data-ng-include="'credit-transfer-out'"></td>
            <td data-ng-if="transaction.info && transaction.info.type == 'direct-debit'" data-ng-include="'direct-debit'"></td>
            <td data-ng-if="!transaction.info">{{transaction.message|lowercase}}</td>
            <td><a href="" data-ng-click="showDetails(transaction);">details</a></td>
        </tr>
    </tbody>
    </table>
</div>
<script type="text/ng-template" id="credit-transfer-in">
    {{transaction.info.message|lowercase}}
</script>
<script type="text/ng-template" id="credit-transfer-out">
    {{transaction.info.message|lowercase}}
</script>
<script type="text/ng-template" id="direct-debit">
    Domicili&euml;ring: {{transaction.info.creditor|lowercase}}
</script>