<div class="modal-header">
    <h3 class="modal-title">Grootboek aanmaken</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="naam" data-ng-model="name" />
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="ok()">Opslaan</button>
    <button class="btn btn-default" data-ng-click="cancel()">Annuleren</button>
</div>