<h1>Kosten</h1>
<ul class="nav nav-tabs">
    <li class="active"><a href="#/expenses">Overzicht</a></li>
    <li><a href="#/expenses/purchases">Aankopen</a></li>
</ul>
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <span data-ng-if="!searchOpened" data-ng-click="toggleSearch();"><i class="glyphicon glyphicon-chevron-down"></i>&nbsp;Zoeken</span>
        <span data-ng-if="searchOpened" data-ng-click="toggleSearch();"><i class="glyphicon glyphicon-chevron-up"></i>&nbsp;Zoeken</span>
    </div>
    <div class="panel-body" data-collapse="!searchOpened">
        <form class="form">
            <div class="form-group col-md-2">
                <label class="control-label">Nr.</label><br />
                <input type="number" class="form-control" data-ng-model="filter.sequence" />
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Leverancier</label><br />
                <input type="text" class="form-control" data-ng-model="filter.name" />
            </div>
            <div class="form-group col-md-7">
                <button class="btn btn-primary" data-ng-click="findExpenses();"><i class="glyphicon glyphicon-search"></i>&nbsp;Zoeken</button>
            </div>
        </form>
    </div>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th class="text-right">Nr.</th>
            <th>Leverancier</th>
            <th>Datum</th>
            <th>Vervaldatum</th>
            <th>Documentnr.</th>
            <th class="text-right">Bedrag</th>
            <th class="text-right">Saldo</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="expense in expenses">
            <td class="text-right">{{expense.sequence}}</td>
            <td>{{expense.supplier.name}}</td>
            <td>{{expense.date|date:'dd/MM/yyyy'}}</td>
            <td>{{expense.expirationDate|date:'dd/MM/yyyy'}}</td>
            <td>{{expense.documentNumber}}</td>
            <td class="text-right">{{expense.totalAmount|currency:"€ "}}</td>
            <td class="text-right">{{expense.outstandingAmount|currency:"€ "}}</td>
        </tr>
        </tbody>
    </table>
</div>