<h1>Kosten</h1>
<ul class="nav nav-tabs">
    <li class="active"><a href="#/expenses">Overzicht</a></li>
    <li><a href="#/expenses/purchases">Aankopen</a></li>
</ul>
<br />
<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <div class="form-group col-md-10">
                <input type="text" class="form-control" data-ng-model="filter.supplier" data-typeahead="s as s.name for s in suppliers | filter:{name:$viewValue}" />
            </div>
            <div class="form-group col-md-2">
                <button class="form-control btn btn-primary" data-ng-click="query()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </form>
    </div>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th class="text-right">Nr.</th>
            <th>Leverancier</th>
            <th>Datum</th>
            <th>Vervaldatum</th>
            <th>Documentnr.</th>
            <th class="text-right">Bedrag</th>
            <th class="text-right">Saldo</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="expense in expenses">
            <td class="text-right"><a href="" data-ng-click="show(expense);">{{expense.sequence}}</a></td>
            <td>{{expense.supplier.name}}</td>
            <td>{{expense.date|date:'dd/MM/yyyy'}}</td>
            <td>{{expense.expirationDate|date:'dd/MM/yyyy'}}</td>
            <td>{{expense.documentNumber}}</td>
            <td class="text-right">{{expense.totalAmount|currency:"€ "}}</td>
            <td class="text-right">{{expense.outstandingBalance|currency:"€ "}}</td>
        </tr>
        </tbody>
    </table>
</div>