<h1>Rekening: {{ledgerAccount.name}} ({{ledgerAccount.type}})</h1>
<div>
    <h3>Saldo: {{balance|currency:'€'}}</h3>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Omschrijving</th>
            <th class="text-right">Bedrag</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="booking in bookings">
            <td>{{booking.date|date:'dd/MM/yyyy'}}</td>
            <td>{{booking.message}}</td>
            <td class="text-right">{{booking.amount|currency:'€'}}</td>
            <td><input type="checkbox" data-ng-if="booking.status != 'closed'" data-ng-model="booking.selected" data-ng-change="select(booking);" />&nbsp;</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td colspan="2"><button class="btn btn-primary" data-ng-click="closeBookings();" data-ng-disabled="balanceSelected != 0 || !selected.length">Boekingen afsluiten</button></td>
            <td class="text-right">{{balanceSelected|currency:'€'}}</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>