<div class="">
    <div class="modal-header">
        <h3 class="modal-title">Boekingen voor kost {{expense.sequence}}</h3>
    </div>
    <div class="modal-body">
        <form>
            <table class="table">
                <thead>
                <tr>
                    <th>Rekening</th>
                    <th>Bedrag</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
                <tbody>
                <tr data-ng-repeat="booking in bookings">
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="number" step="0.01" class="form-control" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr data-ng-if="remainder">
                    <td><input type="text" class="form-control" data-ng-model="remainder.ledgerAccount" /></td>
                    <td><input type="number" step="0.01" class="form-control" data-ng-model="remainder.amount" /></td>
                    <td><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button></td>
                </tr>
            </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="ok()">Opslaan</button>
        <button class="btn btn-default" data-ng-click="cancel()">Annuleren</button>
    </div>
</div>